<ion-content>
  <div class="text-gray-600 px-5">
    <div class="pt-1 mb-10">
      <button class="shadow-xl flex justify-center items-center p-1 border-2 rounded-lg" (click)="navigate()"><ion-icon size="large" name="arrow-back-outline"></ion-icon></button>
    </div>
    <div class="flex flex-col justify-center space-y-7" *ngIf="step1">
      <div class="space-y-2">
        <div class="text-black text-xl">Mot de passe oublié</div>
        <div class="">Veuillez entrer votre mail pour recevoir </div>
      </div>
      <form action="" class="space-y-5">
        <div class="flex flex-col pl-3 items-start space-y-3">
          <label for="" class="-ml-3">Email</label>
          <input type="email" class="bg-white rounded-2xl w-full border-gray-600">
          <div class=""></div>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="bg-teal-300 h-10 w-full rounded-2xl text-white"(click)="step2 = true; step1 = false">Envoyer l'email</button>
        </div>
      </form>
    </div>
    <div class="flex flex-col justify-center space-y-5" *ngIf="step2">
      <div class="space-y-2">
        <div class="text-black text-xl">Mot de passe oublié</div>
        <div class="">Veuillez entrer votre mail pour recevoir </div>
      </div>
      <form action="" class="space-y-5">
        <div class="space-y-3">
          <div class="flex flex-col pl-3 items-start space-y-3">
            <label for="" class="-ml-3">Réinitialiser le mot de passe</label>
            <input type="text" class="bg-white rounded-2xl w-full border-gray-600">
            <div class=""></div>
          </div>
          <div class="flex flex-col pl-3 items-start space-y-3 relative">
            <label for="" class="-ml-3">Nouveau mot de passe</label>
            <input [type]="showPwd ? 'text':'password'" class="bg-white rounded-2xl w-full border-gray-600">
            <div class="absolute right-5 top-6" (click)="showPwd = !showPwd"><ion-icon size="large" [name]="showPwd ? 'eye-off-outline':'eye-outline'"></ion-icon></div>
          </div>
          <div class="flex flex-col pl-3 items-start space-y-3 relative">
            <label for="" class="-ml-3">Confirmer mot de passe</label>
            <input [type]="showPwd ? 'text':'password'" class="bg-white rounded-2xl w-full border-gray-600">
            <div class="absolute right-5 top-6" (click)="showPwd = !showPwd"><ion-icon size="large" [name]="showPwd ? 'eye-off-outline':'eye-outline'"></ion-icon></div>
          </div>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="bg-teal-300 h-10 w-full rounded-2xl text-white">Modifier mot de passe</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
