<ion-content>
  <div class="text-gray-600 px-5 h-screen">
    <div class="pt-1 mb-10" *ngIf="!finally">
      <button class="shadow-xl flex justify-center items-center p-1 border-2 rounded-lg" (click)="navigate()"><ion-icon size="large" name="arrow-back-outline"></ion-icon></button>
    </div>
    <div class="flex flex-col justify-evenly -space-y-5 -mt-12 h-full" *ngIf="sign">
      <div class="space-y-2">
        <div class="text-black text-xl">Welcome to</div>
        <div class="">J'ai déjà un compte. <span class="text-teal-300" routerLink="/connexion">Se connecter</span></div>
      </div>
      <form action="" class="space-y-5">
        <div class="">
          <div class="flex flex-col pl-3 items-start space-y-3">
            <label for="" class="-ml-3">Email</label>
            <input type="email" class="bg-white rounded-2xl w-full border-gray-600">
            <div class=""></div>
          </div>
          <div class="flex flex-col pl-3 items-start space-y-3">
            <label for="" class="-ml-3">Téléphone</label>
            <input type="tel" class="bg-white rounded-2xl w-full border-gray-600">
            <div class=""></div>
          </div>
          <div class="flex flex-col pl-3 items-start space-y-3 relative">
            <label for="" class="-ml-3">Mot de passe</label>
            <input [type]="showPwd ? 'text':'password'" class="bg-white rounded-2xl w-full border-gray-600">
            <div class="absolute right-5 top-6" (click)="showPwd = !showPwd"><ion-icon size="large" [name]="showPwd ? 'eye-off-outline':'eye-outline'"></ion-icon></div>
          </div>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="bg-teal-300 h-10 w-full rounded-2xl text-white"(click)="step1 = true; sign = false">S'inscrire</button>
        </div>
      </form>
      <div class="space-y-5">
        <div class="text-center">Se connecter avec</div>
        <div class="flex justify-center space-x-10">
          <button class="bg-blue-800 text-white w-32 h-10 rounded-2xl">Facebook</button>
          <button class="bg-red-500 text-white w-32 h-10 rounded-2xl">Google</button>
        </div>
        <div class="text-center"></div>
      </div>
    </div>
    <div class="space-y-5" *ngIf="step1">
      <div class="space-y-2">
        <div class="">Step 1/2</div>
        <div class="text-black text-xl">Mon profil</div>
        <div class=""></div>
      </div>
      <form action="" class="space-y-5">
        <div class="flex justify-center relative">
          <label for="img" class="absolute -bottom-3 right-20 p-2 rounded-full text-black bg-teal-300"><ion-icon size="large" name="camera-outline"></ion-icon></label>
          <input type="file" name="" id="img" class="hidden">
          <div class=""><img src="assets/doctor2.jpg" alt="" class="w-32 h-32 rounded-2xl"></div>
        </div>
        <div class="">
          <div class="flex flex-col pl-3 items-start space-y-3">
            <label for="" class="-ml-3">Nom</label>
            <input type="text" class="bg-white rounded-2xl w-full border-gray-600">
            <div class=""></div>
          </div>
          <div class="flex flex-col pl-3 items-start space-y-3">
            <label for="" class="-ml-3">Prénom</label>
            <input type="text" class="bg-white rounded-2xl w-full border-gray-600">
            <div class=""></div>
          </div>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="bg-teal-300 h-10 w-full rounded-2xl text-white"(click)="step2 = true; step1 = false">Continuer</button>
        </div>
      </form>
    </div>
    <div class="space-y-5" *ngIf="step2">
      <div class="space-y-2">
        <div class="">Step 2/2</div>
        <div class="text-black text-xl">Autres informations</div>
        <div class=""></div>
      </div>
      <form action="" class="space-y-5">
        <div class="flex flex-col space-y-3">
          <label for="" class="-ml-3">Sexe</label>
          <div class="flex justify-center space-x-10">
            <div class="flex flex-col items-center" (click)="male = true; female = false">
              <div class="text-white w-16 h-16 rounded-2xl flex items-center justify-center" [ngClass]="male ? 'bg-teal-300':'bg-black'"><ion-icon size="large" name="man-outline"></ion-icon></div>
              <div class="" [ngClass]="male ? 'text-black':''">Homme (H)</div>
            </div>
            <div class="flex flex-col items-center" (click)="female = true; male = false">
              <div class="text-white w-16 h-16 rounded-2xl flex items-center justify-center" [ngClass]="female ? 'bg-teal-300':'bg-black'"><ion-icon size="large" name="woman-outline"></ion-icon></div>
              <div class="" [ngClass]="female ? 'text-black':''">Femme (F)</div>
            </div>
          </div>
        </div>
        <div class="">
          <div class="flex flex-col pl-3 items-start space-y-3">
            <label for="" class="-ml-3">Date de naissance</label>
            <input type="date" class="bg-white rounded-2xl w-full border-gray-600">
            <div class=""></div>
          </div>
          <div class="flex flex-col pl-3 items-start space-y-3">
            <label for="" class="-ml-3">Ville</label>
            <input type="text" class="bg-white rounded-2xl w-full border-gray-600">
            <div class=""></div>
          </div>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="bg-teal-300 h-10 w-full rounded-2xl text-white"(click)="finally = true; step2 = false">Continuer</button>
        </div>
      </form>
    </div>
    <div class="h-full flex justify-center items-center">
      <div class="flex flex-col justify-center items-center space-y-10" *ngIf="finally">
        <div class="">
          <div class=""><img src="assets/doctor2.jpg" alt="" class="w-32 h-32 rounded-2xl"></div>
        </div>
        <div class="">Lorem ipsum dolor sit amet.</div>
        <div class="flex justify-center w-full">
          <button type="submit" class="bg-teal-300 h-10 w-full rounded-2xl text-white text-xl" routerLink="">Commencer</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
